 MYSQL_DATABASE: "karoseri"
MYSQL_USER="app"
MYSQL_PASSWORD="qwerty84"
MYSQL_ROOT_PASSWORD="root"

HTTP_HOST="0.0.0.0:7000"
GRPC_HOST="0.0.0.0:7001"
DB_DEBUG="true"
DB_USER="app"
DB_PASSWORD="qwerty84"
DB_HOST="localhost"


GRPC_ENDPOINT="karoseri360_grpc:7001"